/* === Kaffe Party färgtema === */
.bg-espresso   { background-color: #36241D !important; }
.bg-cinnamon   { background-color: #D98C53 !important; }
.bg-cream      { background-color: #F5EBDD !important; }
.bg-darkroast  { background-color: #231709 !important; }

.text-espresso   { color: #36241D !important; }
.text-cinnamon   { color: #D98C53 !important; }
.text-darkroast  { color: #231709 !important; }

